.body_background
{
  background-image: url(paper.jpg);
  background-position: center;
  background-size: cover;
}
#myCanvas
{
  border-width: 20px;
  border-style: ridge;
  background-color: #FBE9E7;
  margin-top: 47px;
}
h1
{
	color: white; 
	font-size: 40px;
}